<% provide(:title, "About") %>
<div class="container">
<h1 style="text-align: center;">About Us</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vehicula justo vitae gravida gravida. Ut volutpat, justo sed fermentum scelerisque, nibh nulla volutpat felis, sit amet facilisis lorem sapien sed arcu. Curabitur vel diam pretium, fermentum massa a, semper sapien. Ut commodo, leo condimentum porttitor faucibus, enim nibh posuere ligula, sed hendrerit velit dolor dapibus tellus. Nunc sagittis ac massa vitae sodales. Sed aliquam lectus ut nunc viverra, eget gravida ante vulputate. Maecenas sem arcu, accumsan sed aliquet quis, tristique a mi.</p>

</p>Pellentesque egestas mattis nisl, in molestie nulla venenatis non. Donec pharetra, justo sit amet ultrices tincidunt, sapien eros venenatis orci, non mollis arcu velit id eros. Proin sit amet mattis mauris, non interdum magna. Nunc pulvinar suscipit velit ut fermentum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras accumsan, ante ut finibus dictum, odio augue dictum neque, vitae tristique tellus neque vitae felis. Praesent id tellus sed elit congue viverra malesuada nec metus.

</p>
</div>